* {
    box-sizing: border-box;
    /* background: red !important; */
}
.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 40px;
    background-color: var(-white);
    background-color: white;
    padding: 0 5%;
    /* background: lightblue; */
}

.profilePictureWrapper {
    display: flex;
    height: min(100vw - 38px, 250px);
    justify-content: center;
    margin: 0 auto;
    min-height: 96px;
    min-width: 96px;
    width: min(100vw - 38px, 250px);
}

.profilePicture {
    border-radius: 50%;
    height: 100%;
    max-width: 250px;
}

.avatarPicture {
    border: 0;
    border-radius: 50%;
    display: block;
    margin: 0px;
    position: relative;
    z-index: 0;
}  

.projectPrefix {
    font-size: 20px;
    color: black;
}

.projectSufix {
    font-size: 20px;
    color: blueviolet;
}

.userArea {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navLink {
    color: #667080;
    text-decoration: none;
}

.navActions a+a {
    margin-left: 3.5vw;
}
